canvas{
    position:fixed;
}

#gameboard_buttons{
    display:flex;
}

[id^=button]{
    width : 100px;
    height : 100px;
    margin : 7px;
    border-radius : 10px;
    border-style: dashed;
    border-color: grey;
}

#sideMenu{
    background-color: hotpink;
    border-radius : 10px;
}

#gameboard{
    border-radius : 10px;
    border-color: grey;
    border-style: groove;
}

#container{
    display: flex;
}
#container>div{
    margin: 30px;
}